[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
neovim = "*"
pytest = "*"
autoimport = "*"
isort = "*"
autopep8 = "*"
flake8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
